.modalContainer{
    width: 600px;
    height: 300px;
    margin-left: 300px;
    margin-top: -550px;
}
.delete-modal-header{
    margin-left: 220px;
}
.delete-modal-text{
    margin-left: 30px;
}
.myinfo-modal-button{
    cursor: pointer;
}
.myinfo-modal-close-button{
    cursor: pointer;
    margin-left: 30px;
}