.modalContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.delete-modal-header{
}
.delete-modal-text{
}
.myinfo-modal-button{
    cursor: pointer;
}
.myinfo-modal-close-button{
    cursor: pointer;
}