.mypage-bar{
    background-color: #ff9900;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.mypage-bar-text{
    font-size: 20px;
    font-weight: 600;
    height: 36px;
    display: flex;
    position: absolute;
    margin-top: -25px;
    margin-left: 20px;
}
.reservation-pet-nav1{
    font-size: 15px;
    font-weight: 700;
    text-decoration: underline;
    height: 26px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-left: 80px;
    margin-right: 20px;
}
.reservation-pet-nav2{
    font-size: 15px;
    font-weight: 400;
    height: 26px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}
.reservation-pet-nav3{
    font-size: 15px;
    font-weight: 400;
    height: 26px;
    background-color: white;
    border: none;
    cursor: pointer;
}
.mypage-navunderLine{
    height: 1px;
    border-bottom: 1px solid #FF8000;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}
.mypage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.reservation-container{
    width: 900px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    position: relative;
    margin-bottom: 42px;
}
.mypage-reservation-payment{
    background-color: #ff9900;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    z-index: 1;
    margin-top: 40px;
    margin-left: 1000px;
    margin-bottom: 40px;
    display: flex;
    width: 60px;
}
.reservation-components{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-right: 210px;
}
.checked-width-1{
    z-index: 2;
    display: flex;
    position: absolute;
}
.checked-width-2{
    z-index: 2;
    display: flex;
    position: absolute;
}
.checked-width-3{
    z-index: 2;
    display: flex;
    margin-top: 30px;
    position: absolute;
}
.reservepet-checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    margin-top: 35px;
    margin-right: 20px;
}