.reservepet{
    border: 1px solid #d9d9d9;
    border-radius: 40px;
    width: 800px;
    height: 90px;
    position: relative;
}
.reservationpet-img{
    height: 78px;
    margin-left: 45px;
    position: absolute;
    margin-top: 5px;
    width: 80px;
}
.reservepet-info{
    font-size: 15px;
    font-weight: 400;
    height: 12px;
    left: 208px;
    line-height: normal;
    position: absolute;
    top: 37px;
    width: 400px;
}
.reservation-pet-button{
    border: none;
    background-color: #ff9900;
    color: white;
    border-radius: 10px;
    margin-left: 650px;
    margin-top: 35px;
    cursor: pointer;
}