.review-review-container{
    border: 1px solid #d9d9d9;
    border-radius: 40px;
    width: 900px;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.reserve-review-img{
    height: 78px;
    width: 80px;
    margin-left: 50px;
    position: absolute;
}
.reserve-review-info{
    width: 500px;
    height: 60px;
    margin-top: 40px;
    margin-left: 250px;
    position: absolute;
}
.review-starts{
    position: absolute;
    margin-top: -15px;
}
.star-rating {
    font-size: 24px;
}
.star {
    cursor: pointer;
}
.filled {
    color: gold;
}
.review-text{
    position: absolute;
    margin-top: 20px;
    margin-left: 5px;
}
.reserve-review-input{
    margin-top: 15px;
    background-color: #F4F5F7;
    border: none;
    border-radius: 7px;
    height: 22px;
    width: 400px;
    margin-left: 80px;
    position: absolute;
    font-size: 15px;
    padding-top: 5px;
    padding-left: 5px;
}
.reserve-review-button{
    cursor: pointer;
    background-color: #ff9900;
    border: none;
    border-radius: 7px;
    color: white;
    margin-left: 500px;
    margin-top: -20px;
    position: absolute;
    width: 65px;
}
.review-save-button{
    cursor: pointer;
    background-color: #ff9900;
    border: none;
    border-radius: 7px;
    color: white;
    margin-left: 780px;
    margin-top: 0px;
    position: absolute;
    width: 65px;
}
.review-pet-info{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 20px;
}
.write-review{
    margin-top: 5px;
}
.write-stars{
    margin-top: 5px;
    margin-left: 15px;
}
.review-saved-button{
    border: none;
    border-radius: 7px;
    background-color: #d9d9d9;
    color: white;
    margin-top: -35px;
    margin-left: 500px;
    width: 70px;
    position: absolute;
}