.element {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login {
    border: 1px solid #d9d9d9;
    height: 500px;
    position: absolute;
    width: 1380px;
    top: 200px;
    left: 315px;
    border-radius: 15px;
}

.kakao-button {
    height: 40px;
    left: 580px;
    object-fit: cover;
    position: absolute;
    top: 300px;
    width: 200px;
    border-radius: 10px;
}
.kakao-button > img {
    width: 200px;
    height: 40px;
    cursor:pointer;
    margin-left: -8px;
    margin-top: -3px;
}

.login-info{
    font-size: 13px;
    font-weight: 400;
    height: 16px;
    left: 580px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 220px;
}

.login-logo{
    left: 580px;
    position: absolute;
    top: 120px;
    width: 160px;
    height: 30px;
}