.login {
    border: 1px solid #d9d9d9;
    height: 350px;
    position: fixed;
    width: 500px;
    border-radius: 15px;
    margin-left: 500px;
    margin-top: 80px;
}
.login-logo{
    width: 160px;
    height: 30px;
    display: flex;
    margin-left: 160px;
    margin-top: 50px;
}
.login-info{
    font-size: 13px;
    font-weight: 400;
    height: 16px;
    line-height: normal;
    text-align: center;
    display: flex;
    margin-left: 150px;
    margin-top: 50px;
}
.kakao-button {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    position: fixed;
    margin-left: 150px;
    margin-top: 50px;
    border: none;
}
.kakao-button-img {
    width: 200px;
    height: 40px;
    cursor:pointer;
    margin-left: -7px;
    margin-top: -18px;
}
