.footer {
  border-top: 3px solid #ff8000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.customer-service {
  border: none;
  color: #ff8000;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 7px;
  font-size: 14px;
  cursor: pointer;
}

.customer-service a {
  color: inherit;
  text-decoration: none;
}

.footer .copyright {
  padding-bottom: 10px;
  font-size: 13px;
}
