.signup-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.MemberInput {
  border: 1px solid #d9d9d9;
  padding: 30px;
  height: 420px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
  margin-bottom: 55px;
}
.Signup-title {
  display: flex;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}
.Signup-text {
  display: flex;
  text-align: center;
  font-weight: 400;
  font-size: 11px;
  margin-bottom: 30px;
}
.Signup-span {
  text-align: center;
  font-weight: 400;
  font-size: 11px;
}
.MemberInputAline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.MemberInputAline-left{
  margin-right: 20px;
}
.aline-input-label {
  width: 80px;
  height: 20px;
}
.aline-input {
  width: 170px;
  background-color: #f4f5f7;
  border: none;
  border-radius: 7px;
  height: 20px;
  margin-bottom: 10px;
  display: block;
  font-size: 11px;
}
.input-aline-button {
  background-color: #ff9900;
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 11px;
  width: 60px;
  height: 20px;
  cursor: pointer;
}
.signup-input-container{
  display: flex;
  flex-direction: column;
  width: 254px;
}
.signup-member-input {
  background-color: #f4f5f7;
  border: none;
  border-radius: 7px;
  height: 20px;
  margin-bottom: 10px;
  display: block;
  font-size: 11px;
  width: 230px;
}
.input-email {
  width: 200px;
  height: 45px;
  margin-bottom: 10px;
}
.input-phone {
  width: 200px;
  height: 45px;
  margin-bottom: 10px;
}
.input-address-row{
  flex-direction: row;
}
.input-address {
  flex-direction: column;
  width: 200px;
  height: 45px;
  position: relative;
  margin-bottom: 50px;
}
.signup-address-input {
  margin-top: 5px;
  width: 300px;
}
.address-button {
  background-color: #ff9900;
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 11px;
  width: 100px;
  height: 20px;
  position: absolute;
  cursor: pointer;
  margin-left: 100px;
}
.MemberJoinButton {
  align-items: center; /* 자식 요소들을 세로 중앙으로 정렬 */
  border: none;
  cursor: pointer;
  background-color: #ff9900;
  color: white;
  border-radius: 7px;
  width: 200px;
  height: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
