.modalContainer{
    border: 1px solid #d9d9d9;
    padding: 30px;
    width: 300px;
    height: 200px;
    position: fixed;
    background-color: white;
    margin-top: -400px;
}
.signup-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 290px;
    margin-left: 5px;
    margin-top: -20px;
    border-bottom: 1px solid #282c34;
}
.signup-modal-header > button {
    background-color: white;
    border: none;
    font-size: 20px;
}
.signup-modal-text{
    position: fixed;
    margin-top: 100px;
    flex-direction: row;
    width: 220px;
    margin-left: 40px;
}
.signup-modal-button{
    position: fixed;
    margin-top: 190px;
    background-color: #ff9900;
    border: none;
    color: white;
    width: 60px;
    height: 20px;
    border-radius: 7px;
    margin-left: 120px;
    cursor: pointer;
}