.main-petsitter{
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    width: 500px;
    height: 90px;
    margin-top: 10px;
    margin-left: 10px;
    position: fixed;
    display: inline;
}
.menu-petsitter-left{
    float: left;
}
.main-petsitter-title{
    font-size: 15px;
    font-weight: 700;
    height: 26px;
    margin-left: 44px;
    line-height: 25.5px;
    margin-top: 10px;
}
.main-petsitter-text{
    color: black;
    font-size: 11px;
    font-weight: 500;
    height: 40px;
    margin-left: 55px;
    line-height: 19.5px;
}
.main-petsitter-button{
    background-color: #ff9900;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    height: 20px;
    font-size: 11px;
    float: right;
    margin-top: 30px;
    margin-right: 35px;
}

