.element {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.left-aside {
    height: 1000px;
    left: 0;
    position: absolute;
    top: 165px;
    width: 250px;
    border: 1px solid #FF8000;

}